.game-board {
    margin-top: 3rem;
    background-color: snow;
    padding: 1rem;
    opacity: 85%;
    border-radius: 5px;
    box-shadow: 10px 10px 5px black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;


}

.card {
    background-color: rgba(54,221,252,1);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 5px 5px 5px black;
    
}

.card:hover {
    background-color: #03d6ff;
    cursor: pointer;
    color: #36ffbc;
    border: 5px solid #36ffbc;
    border-style: inset;
    
}

img {
    opacity: 100%;
    width: 80%;
    height: 225px;
    border-radius: 5px;
}

p {
    opacity: 100%;
    font-size: 2rem;
}

@media only screen and (max-device-width: 900px) {
    .game-board {
        position: relative;
        gap: 1rem;

    }

    .card {
        position: relative;
        height: 79%;
    }

    .card:hover {
        background-color: rgba(54,221,252,1);
        cursor: pointer;
        color: white;
        border: 0;
    }

    img {
        position: relative;
        width: 90%;
        height: 68%;

    }

    p {
        font-size: 0.75rem;
    }

}